@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Secular One', sans-serif;
}


/*navbar section*/

.navbar {
    height: 100px;
}

nav {
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: white;
    height: 100px;
}

nav a {
    text-decoration: none;
}

h2 {
    font-size: 24px;
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.navbar h2:hover {
    color: orange;
}

ul {
    display: flex;
    margin: 22px;
}

ul li {
    list-style: none;
    margin: 10px;
    padding: 10px;
    font-weight: bold;
    opacity: 0.7;
}

ul li a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

ul li a:hover {
    text-decoration: underline;
    color: orangered;
}

.nav-left button {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 14px;
    font-weight: bold;
    opacity: 0.8;
    border-radius: 7%;
    box-sizing: content-box;
    height: 25px;
    align-self: center;
    background-color: white;
    letter-spacing: 1px;
    cursor: pointer;
}

.nav-left button:hover {
    color: white;
    background: rgb(61, 144, 61);
}


/*home section*/

.home {
    background: rgb(230, 238, 248);
}

.home-content {
    display: flex;
    justify-content: space-around;
}

.home-left,
.home-right {
    margin: 100px;
}

.home-left h1 {
    font-size: 15px;
    padding: 10px;
    opacity: 0.8;
    font-weight: none;
}

.home-left h2 {
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
}

.home-left .see-more {
    border: 2px rgb(30, 178, 237) solid;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 10px;
    border-radius: 3px;
    font-weight: bold;
    letter-spacing: 0.4px;
    color: rgb(30, 178, 237);
    margin: 10px;
    cursor: pointer;
}

.home-left .download {
    border: 2px rgb(61, 144, 61) solid;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 10px;
    border-radius: 3px;
    font-weight: bold;
    letter-spacing: 0.4px;
    color: white;
    margin: 10px;
    background-color: rgb(17, 161, 17);
    cursor: pointer;
}

.home-left h3 {
    padding: 10px;
    opacity: 0.6;
    font-weight: 0;
    font-size: 12px;
}

.home-right img {
    height: 320px;
}


/*inside-section*/

.inside-content {
    margin-top: 100px;
    margin-left: 180px;
    margin-bottom: 120px;
}

.inside-content h1 {
    font-size: 12px;
    color: rgb(17, 161, 17);
    letter-spacing: 1px;
}

.inside-content h2 {
    font-size: 30px;
    letter-spacing: 0.5px;
    padding-top: 10px;
}

.inside-content h3 {
    font-size: 13px;
    opacity: 0.5;
    word-spacing: 1px;
    padding-top: 10px;
}


/*box-container*/

.layout-box {
    display: flex;
    margin: 10px;
}

.layout-box .box1 {
    margin-left: 170px;
    background-color: bisque;
}

.layout-box .box1 img {
    width: 50px;
    margin-top: 50px;
    margin-left: 50px;
    border: 3px black solid;
    border-radius: 8px;
}

.box1 h1 {
    font-size: 17px;
    margin-left: 50px;
    margin-top: 50px;
}

.box1 h2 {
    font-size: 13px;
    margin: 50px;
    opacity: 0.6;
}

.layout-box {
    justify-content: space-evenly;
}

.layout-box .box2 {
    margin-left: 20px;
    background-color: rgb(244, 241, 241);
}

.layout-box .box2 img {
    width: 50px;
    margin-top: 50px;
    margin-left: 50px;
    border: 3px black solid;
    border-radius: 50%;
}

.box2 h1 {
    font-size: 17px;
    margin-left: 50px;
    margin-top: 50px;
}

.box2 h2 {
    font-size: 13px;
    margin: 50px;
    opacity: 0.6;
}

.layout-box .box3 {
    margin-right: 170px;
    margin-left: 20px;
    background-color: rgb(219, 217, 217);
}

.layout-box .box3 img {
    width: 50px;
    margin-top: 50px;
    margin-left: 50px;
    border: 3px black solid;
    border-radius: 8px;
}

.box3 h1 {
    font-size: 17px;
    margin-left: 50px;
    margin-top: 50px;
}

.box3 h2 {
    font-size: 13px;
    margin: 50px;
    opacity: 0.6;
}